
<table>
  <tr>
    <th>id</th>
    <th>amount</th>
    <th>outResponseCode</th>
    <th>transaction refference</th>
    <td>output_ResponseDesc</td>
    <td>output_TransactionID</td>
    <td>input_CustomerMSISDN</td>
    <td>input_ThirdPartyReference</td>
    <th>check status</th>
    <th>reverse</th>

  </tr>
  {{#each transactions}}
  <tr>
    <td class="id">{{_id}}</td>
    <td>{{input_Amount}}</td>
    <td>{{output_ResponseCode}}</td>
    <td class='refference'>{{input_TransactionReference}}</td>
    <td>{{output_ResponseDesc}}</td>
    <td>{{output_TransactionID}}</td>
    <td>{{input_CustomerMSISDN}}</td>
    <td>{{input_ThirdPartyReference}}</td>
    <td> <button class="status"> check status </button></td>
    <td> <button class="reverse"> reverse </button></td>
  </tr>
  {{/each}}
</table>

<div>
  <form>
  <input id="amount" placeholder="amount" value="10"/>
  <button type="submit"> send</button>
  </form>
</div>